*.iml
.idea
dev
atlassian-ide-plugin.xml
node_modules
.tscache
*.tmp.txt
assets/music/Believe.mp3
assets/music/Believe.ogg
assets/music/Dont_Let_Go.mp3
assets/music/Dont_Let_Go.ogg
assets/music/Everybody_Somebody.mp3
assets/music/Everybody_Somebody.ogg
assets/music/Put_It_On.mp3
assets/music/Put_It_On.ogg
assets/music/Save_A_Little_Love.mp3
assets/music/higher.mp3
assets/music/higher.ogg
assets/music/reflections.mp3
assets/music/reflections.ogg
assets/music/satalites.mp3
assets/music/satalites.ogg
builds/dist/assets/music/Believe.mp3
builds/dist/assets/music/Believe.ogg
builds/dist/assets/music/Dont_Let_Go.mp3
builds/dist/assets/music/Dont_Let_Go.ogg
builds/dist/assets/music/Everybody_Somebody.mp3
builds/dist/assets/music/Everybody_Somebody.ogg
builds/dist/assets/music/Menu.mp3
builds/dist/assets/music/Put_It_On.ogg
builds/dist/assets/music/Save_A_Little_Love.mp3
builds/dist/assets/music/Save_A_Little_Love.ogg
builds/dist/assets/music/You_Cant_Change_Me.mp3
builds/dist/assets/music/You_Cant_Change_Me.ogg
builds/dist/assets/music/reflections.mp3
builds/dist/assets/music/reflections.ogg
